<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SyncfusionLicenseKey" value="MTc1OTZAMzEzNjJlMzIyZTMwYlAydjlYbGs5WlVIUnUrNDlpZDBYSnA4ekorWFVZRVhHY0puNFFQVFlrdz0=" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.2460.0.50" newVersion="16.2460.0.50" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.2460.0.50" newVersion="16.2460.0.50" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/Model.DetalModel.csdl|res://*/Model.DetalModel.ssdl|res://*/Model.DetalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dentallab.database.windows.net;initial catalog=Dental;persist security info=True;user id=sqladmin;password=D3lt4!la8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DentalEntities" connectionString="metadata=res://*/Model.DentalModel.csdl|res://*/Model.DentalModel.ssdl|res://*/Model.DentalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dentallab.database.windows.net;initial catalog=Dental;persist security info=True;user id=sqladmin;password=D3lt4!la8;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>